<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://kit.fontawesome.com/b89e8fc1d9.js"
      crossorigin="anonymous"
    ></script>
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
    <title>Plant Plates</title>
  </head>

  <body>
    <header>
      <nav>
        <div class="nav-wrapper">
          <a href="{{ url_for('home') }}" class="brand-logo">Plant Plates</a>
          <!-- Sidenav Trigger -->
          <a
            href="#"
            data-target="mobile-demo"
            class="sidenav-trigger hide-on-large-only"
          >
            <i class="material-icons">menu</i>
          </a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            {% if current_user.is_authenticated and current_user.is_admin %}
            <li><a href="{{ url_for('add_category') }}">Add Category</a></li>
            <li>
              <a href="{{ url_for('admin_categories') }}">Admin Categories</a>
            </li>
            {% endif %} {% if current_user.is_authenticated %}
            <li><a href="{{ url_for('home') }}">Home</a></li>
            <li><a href="{{ url_for('my_recipes') }}">My Recipes</a></li>
            <li><a href="{{ url_for('all_recipes') }}">All Recipes</a></li>
            <li><a href="{{ url_for('categories_list') }}">Categories</a></li>
            <li><a href="{{ url_for('account') }}">Account</a></li>
            <li><a href="{{ url_for('logout') }}">Log Out</a></li>
            {% else %}
            <li><a href="{{ url_for('home') }}">Home</a></li>
            <li><a href="{{ url_for('all_recipes') }}">All Recipes</a></li>
            <li><a href="{{ url_for('categories_list') }}">Categories</a></li>
            <li><a href="{{ url_for('signup') }}">Sign Up</a></li>
            <li><a href="{{ url_for('login') }}">Log In</a></li>
            {% endif %}
          </ul>
        </div>
      </nav>

      <!-- Side Nav -->
      <ul class="sidenav" id="mobile-demo">
        {% if current_user.is_authenticated and current_user.is_admin %}
        <li>
          <a href="{{ url_for('admin_categories') }}">Manage Categories</a>
        </li>
        <li><a href="{{ url_for('add_category') }}">Add Category</a></li>
        <li>{% endif %} {% if current_user.is_authenticated %}</li>

        <li><a href="{{ url_for('home') }}">Home</a></li>
        <li><a href="{{ url_for('my_recipes') }}">My Recipes</a></li>
        <li><a href="{{ url_for('all_recipes') }}">All Recipes</a></li>
        <li><a href="{{ url_for('categories_list') }}">Categories</a></li>
        <li><a href="{{ url_for('account') }}">Account</a></li>
        <li><a href="{{ url_for('logout') }}">Log Out</a></li>
        {% else %}
        <li><a href="{{ url_for('home') }}">Home</a></li>
        <li><a href="{{ url_for('all_recipes') }}">All Recipes</a></li>
        <li><a href="{{ url_for('categories_list') }}">Categories</a></li>
        <li><a href="{{ url_for('signup') }}">Sign Up</a></li>
        <li><a href="{{ url_for('login') }}">Log In</a></li>
        {% endif %}
      </ul>
    </header>

    <main class="container">{% block content %} {% endblock %}</main>

    <footer class="page-footer">
      <div class="container">
        <div class="row">
          <div class="col s12">
            <!-- Left side: copyright -->
            <span class="left white-text footer-text">
              &copy; 2025 Plant Plates
            </span>

            <!-- Right side: social icons -->
            <span class="right">
              <a
                href="https://facebook.com"
                target="_blank"
                class="footer-icons white-text"
              >
                <i class="fab fa-facebook-f"></i>
              </a>
              <a
                href="https://twitter.com"
                target="_blank"
                class="footer-icons white-text"
              >
                <i class="fab fa-twitter"></i>
              </a>
              <a
                href="https://instagram.com"
                target="_blank"
                class="footer-icons white-text"
              >
                <i class="fab fa-instagram"></i>
              </a>
            </span>
          </div>
        </div>
      </div>
    </footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
  </body>
</html>
