{% extends "base.html" %} {% block content %}
<div class="container" style="margin-top: 50px">
  <h3 class="center-align">Categories</h3>
  <div class="row">
    {% for category in categories %}
    <div class="col s12 m6 l4">
      <div class="card hoverable">
        <div class="card-content center-align">
          <span class="card-title">{{ category.name }}</span>
        </div>
        <div class="card-action center-align">
          <a
            href="{{ url_for('category_detail', category_id=category.id) }}"
            class="btn waves-effect waves-light"
          >
            View Recipes
          </a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
